
.poster-detalle-sobre {
    //Aqui modificamos la imagen miniatura de la ventana de detalle de la pelicula
    position: relative;
    top: -75px;
    left: 10px;
    margin-bottom: -75px;
}

.titulo {
    //Para modificar el titulo de la ventana de detalle
    width: 400%;
    position: absolute;
    color: whitesmoke;
    padding: 5px 5px 40px 5px;
    top: 28px;
    left: 20px;
    font-weight: bold;
}

.card-actor {
    //Al darle scroll para ver el reparto, que tantos pixeles permite ver
    height: 300px;
}

.actor-name {
    //modificar posicion de los nombres de los actores
    position: relative;
    top:15px;
    padding-left: 10px;
}


  

